<br/>
<div class="jumbotron">
  <h1>Blocmetrics</h1>
  <p>Blocmetrics is an analytics service for web sites</p>
  <p>
    
  </p>
</div>

<div class="row jumbotron">
  <div class="col-md-4 ">
    <h2>Tracking</h2>
    <p>Allows a users to track events on their website.</p>
  </div>
  <div class="col-md-4 ">
    <h2>Persistence</h2>
    <p> Provides a server-side API that captures and saves those events to a database.</p>
  </div>
  <div class="col-md-4 ">
    <h2>Analyze</h2>
    <p>Display captured metrics for optimization assessment.</p>
  </div>
</div>